body{
    width: 100%;
    max-width: 980px;
    min-width: 320px;
    margin: 0 auto;
    background: #fff;
    font-size: 14px;
    font-family: -apple-system, Arial, Helvetica, sans-serif;
    line-height: 1.5;
    color: #666;

}

*{
    -webkit-tap-highlight-color: transparent;
}

input{
    -webkit-appearance: none;
}

img,a{
    -webkit-touch-callout: none;
}


a{
    color: #666;
    text-decoration: none;
}



/* 顶部 */
.app{
    height: 45px;
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

img{
    vertical-align: middle;
}

.app ul li{
    float: left;
    height: 45px;
    background-color: #333;
    text-align: center;
    line-height: 45px;
    color: #fff;
}

.app ul li:nth-child(1){
    width: 8%;  
}

.app ul li:nth-child(1) img{
    width: 10px;
}

.app ul li:nth-child(2){
    width: 10%;
}

.app ul li:nth-child(2) img{
    width: 30px;
    vertical-align: middle;
}

.app ul li:nth-child(3){
    width: 57%;
}
.app ul li:nth-child(4){
    width: 25%;
    background-color: #f63515;
}



/* 搜索 */
.search-wrap{
    position: fixed;
    height: 44px;
    width: 100%;
    overflow: hidden;
    min-width: 320px;
    max-width: 980px;
}

.search{
    position: relative;
    height: 30px;
    background-color: #fff;
    margin: 0 50px 0;
    border-radius: 15px;
    margin-top: 7px;
}

.search .jd-icon{
    width: 20px;
    height: 15px;
    position: absolute;
    top: 8px;
    left: 13px;
    background: url(../images/jd.png) no-repeat;
    background-size: 20px 15px;
}

.jd-icon::after{
    position: absolute;
    right: -8px;
    top: 0;
    content: '';
    display: block;
    width: 1px;
    height: 15px;
    background-color: #ccc;

}

.sou{
    position: absolute;
    top: 8px;
    left: 50px;
    width: 18px;
    height: 15px;
    background-color: pink;
    background: url(../images/jd-sprites.png) no-repeat -81px 0;
    background-size: 200px auto;
}

.search-wrap input{
    position: absolute;
    top: 6px;
    left: 80px;
    border: none;
}

.search-wrap input:focus{
    outline: none;
}

.search-btn{
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 44px;
}

.search-btn::before{
    content: '';
    display: block;
    width: 20px;
    height: 18px;
    background: url(../images/s-btn.png) no-repeat;
    background-size: 20px 18px;
    margin:14px 0 0 15px;
}


.search-login{
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 44px;
    text-align: center;
    line-height: 44px;
    color: #fff;

}


/* 主题内容 */

/* 滑动图 */
.slider img{
    width: 100%;
}


/* 品牌日 */
.brand{
    border-radius: 10px 10px 0 0;
    overflow: hidden;
}

.brand div{
    float: left;
    width: 33.33%;
}

.brand div img{
    width: 100%;
}

/* 导航栏 */

.nav{
    margin-top: 5px;
}

.nav a{
    float: left;
    width: 20%;
    text-align: center;
}

.nav a img{
    width: 70%;
    margin: 10px 0;
}

.nav a p{
    margin-top: 0;
}


/* 新闻快报 */

.news{
    margin-top: 20px;

}

.news a{
    float: left;
    box-sizing: border-box;
}

.news a:nth-child(1){
    width: 50%;
}

.news a img{
    width: 100%;
}


.news a:nth-child(n+2){
    width: 25%;
    border-left: 1px solid #ccc;
}
